.stats-wrapper {
  padding: 20px;
}

/* -------------------------
   SUMMARY CARDS
--------------------------*/
.stats-summary-row {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.summary-card {
  flex: 1;
  padding: 18px;
  background: white;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #111;          /* Dark text */
  border: 1px solid #d1d5db;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06);
}

/* -------------------------
   CHART CONTAINERS
--------------------------*/
.chart-card-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.chart-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 30px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 2px 6px rgba(0,0,0,0.04);
}

.chart-card h3 {
  margin-bottom: 20px;
  color: #111827;
  font-size: 20px;
  font-weight: 600;
}

/* -------------------------
   TABLE STYLES
--------------------------*/
.table-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 30px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 2px 6px rgba(0,0,0,0.04);
}

.heading3-consumables{
    color: #1f2937;
}

.stats-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.stats-table th {
  background: #f3f4f6;
  color: #111827;
  padding: 12px;
  font-weight: 600;
  border-bottom: 1px solid #d1d5db;
}

.stats-table td {
  padding: 10px;
  border-bottom: 1px solid #e5e7eb;
  color: #1f2937;
}

.stats-table tr:last-child td {
  border-bottom: none;
}